h2{
    font-size: 30px !important;
}
.btn-success:hover{
    background-color: blueviolet;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 200px;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 0, 140);}
    to{box-shadow: 1px 1px 38px rgb(174, 0, 255);}
}

#gradient{ background: linear-gradient(rgb(111, 0, 255) 0%, rgb(195, 0, 255) 90%); }

body {
    /* Background pattern from Toptal Subtle Patterns */
    height: 400px;
    width: 100%;
    background-image: url("galaxy.jpg");
 }